.ru-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197408.svg?alt=media&token=16e3ce8c-e538-453b-a779-e790967fc2e6') no-repeat;
background-size: 25px 25px;
}
.de-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197571.svg?alt=media&token=597581ad-0109-49be-93fd-033129aa40bb') no-repeat;
background-size: 25px 25px;
}
.en-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197484.svg?alt=media&token=fe715af6-449e-48b2-9b75-0d4dcb448cb3') no-repeat;
background-size: 25px 25px;
}
.en-gb-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197374.svg?alt=media&token=350e35e7-3021-4486-b0f9-40175fbab667') no-repeat;
background-size: 25px 25px;
}
.en-gb-square {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2Fsquare%2F551844.svg?alt=media&token=a3f135cb-d5f7-4520-98d2-fd8e74dbd24a') no-repeat;
background-size: 25px 25px;
}
.en-gb-rectangular {
height: 25px;
width: 52px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2Frectangular%2F555417.svg?alt=media&token=463790a9-e18b-42a4-9dba-9fe8a70e554b') no-repeat;
background-size: 25px 25px;
}
.fr-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197560.svg?alt=media&token=06608f24-a9ac-42bc-909e-7608b00cd461') no-repeat;
background-size: 25px 25px;
}
.es-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197593.svg?alt=media&token=cfedb2af-22b9-46ca-8aa8-eb5e0dab3d0c') no-repeat;
background-size: 25px 25px;
}
.zh-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197375.svg?alt=media&token=920a6501-fdab-46fb-92e7-6202ea692ebb') no-repeat;
background-size: 25px 25px;
}
.it-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197626.svg?alt=media&token=97a2e8b2-7cec-47be-a9ed-9678b87c16c4') no-repeat;
background-size: 25px 25px;
}
.ja-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197604.svg?alt=media&token=9a292df1-8ff8-42ed-b9c7-8cce32b11ab0') no-repeat;
background-size: 25px 25px;
}
.pt-br-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197386.svg?alt=media&token=633d20e0-3464-4953-b084-ab4aa8a29de1') no-repeat;
background-size: 25px 25px;
}
.european-union-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197615.svg?alt=media&token=c504af24-719d-4825-b322-76c44a7465af') no-repeat;
background-size: 25px 25px;
}
.en-ca-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197430.svg?alt=media&token=542ebc91-d3e1-4050-b3eb-7391f84d804d') no-repeat;
background-size: 25px 25px;
}
.bn-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197419.svg?alt=media&token=0071a717-9d72-46bc-8cf9-5707188bf21f') no-repeat;
background-size: 25px 25px;
}
.en-au-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197507.svg?alt=media&token=2438714b-9e4e-47b9-a2e9-40f9f3f49921') no-repeat;
background-size: 25px 25px;
}
.th-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197452.svg?alt=media&token=5aa7c6f0-6c05-43ef-826e-ebeb35b8f715') no-repeat;
background-size: 25px 25px;
}
.nl-rounded {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197441.svg?alt=media&token=8c655b71-aece-4728-a502-868e2a6d074e') no-repeat;
background-size: 25px 25px;
}
