.ru {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197408.svg?alt=media&token=16e3ce8c-e538-453b-a779-e790967fc2e6') no-repeat;
background-size: 25px 25px;
}
.de {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197571.svg?alt=media&token=597581ad-0109-49be-93fd-033129aa40bb') no-repeat;
background-size: 25px 25px;
}
.en {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197484.svg?alt=media&token=fe715af6-449e-48b2-9b75-0d4dcb448cb3') no-repeat;
background-size: 25px 25px;
}
.en-gb {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197374.svg?alt=media&token=350e35e7-3021-4486-b0f9-40175fbab667') no-repeat;
background-size: 25px 25px;
}
.fr {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197560.svg?alt=media&token=06608f24-a9ac-42bc-909e-7608b00cd461') no-repeat;
background-size: 25px 25px;
}
.es {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197593.svg?alt=media&token=cfedb2af-22b9-46ca-8aa8-eb5e0dab3d0c') no-repeat;
background-size: 25px 25px;
}
.zh {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197375.svg?alt=media&token=920a6501-fdab-46fb-92e7-6202ea692ebb') no-repeat;
background-size: 25px 25px;
}
.it {
height: 25px;
width: 25px;
float: left;
margin: 5px 10px 5px 0;
background: url('https://firebasestorage.googleapis.com/v0/b/android-6224a.appspot.com/o/assets%2F197626.svg?alt=media&token=97a2e8b2-7cec-47be-a9ed-9678b87c16c4') no-repeat;
background-size: 25px 25px;
}
